{% extends "base.html" %}
{% block content %}
  <div class="card m-4">
  <div class="card-header  text-center">
    Checking Loan Eligibility
  </div>

  <div class="card-body">
    <form>

  <div class="row m-2">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
      <div class="row m-2">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
      <div class="row m-2">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>

      <div class="row m-2">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
<div class="text-center">
    <a href="#" class="btn btn-primary text-center">Check Eligibility</a>
        </div>
 </form>
  </div>
  <div class="card-footer text-muted text-center">
    after submitting details wait foe some time.
  </div>
</div>
{% endblock %}
